/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html, body {
  margin: 0 auto;
  height: 100%;
  padding: 0;
}
nav ul a {
  color: #312F2F;
}
nav .brand-logo {
  color: #312F2F;
  font-family: "Lobster";
}
nav .material-icons {
  color: #312F2F;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}
.materializeLogo {
  font-size: .5em;
}
h2 > .material-icons {
  font-size: inherit;
  color: #312F2F;
}

.brand-logo {
  font-size: 32em;
}
/***************
  Navigation
***************/

/*nav {
  position: fixed;
  z-index: 1;
}*/

/***************
  Home Page
***************/

.section.no-pad-bot {
  padding-top: 4rem;
}

/***************
  Footer
***************/

footer.page-footer {
  height: inherit;
  margin: 0;
  background-color: #312F2F;
  text-align: center;
}
.contact {
  text-align: center;
}
.contactIcon {
  color: #fff;
  padding-right: 3em;
}
i.medium {
  font-size: 2.5rem;
}
.white-text {
  padding-bottom: 1.25em;
  margin: 0
}

/***************
  About Page
***************/

.text {
  padding-top: 4rem;
}

/***************
  Services
***************/

.servicesWrapper {
  max-width: 65em;
  margin: 0 auto;
}
.service {
  padding-bottom: 1.5em;
  height: 400px;
}
.serviceImg {
  max-width: 100%;
  height: auto;
  float: left;
  padding-right: 1.5em;
}
#showerPic {
  padding-top: 1.250em;
}
.serviceItem {
  text-align: justify;
  font-size: 1.5em;
}
.serviceTitle {
  text-align: center;
}
.contactBtn {
  display: none;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #312F2F;
}
.row.col.l6 {
  text-align: center;
}
p {
  color: #312F2F;
}
.square {
  height: 10px;
  width: 10px;
  background-color: blue;
}

/*DROPDOWN BUTTON STYLING EDITS*/

a.dropdown-button.btn {
  text-transform: none;
  color: #312F2F;
  background-color: #fff;
  box-shadow: none;
}
a.dropdown-button.btn .dropdown-content active {
  color: #312F2F;
  opacity: 0;
}

/* label focus color */

.input-field input[type=text]:focus + label {
  color: blue;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 blue;
}
.ng-invalid {
  color: red;
}

/***************
  About View
***************/

#about-view {
  height: 100%;
  width: 100%;
  background-image: url("../photos/chair-window-bw.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  margin-left: 20px;
  width: 50%;
}
#about-view h1 {
  margin-top: 0px;
  padding-top: 20px;
  color: #ececec;
}
#about-view p {
  padding: 20px;
  color: #ececec;
  font-size: 2em;
  line-height: 2em;
}

/***************
  Contact View
***************/

#contact-view {
  height: 100%;
  width: 100%;
  background-image: url("../photos/light-desk-bw.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactText {
  text-align: center;
  color: #ececec;
  padding-top: 10%;
}
h3.contactText {
  text-decoration: underline;
}
.contactText a {
  color: #ececec;
}
h1.contactStatement {
  font-size: 3em;
}
h3.contactTitle {
  font-size: 2.5em;
}
h4.contactItem {
  font-size: 2em;
}

/*******************
  RESPONSIVE STYLES
*******************/

@media only screen and (max-width: 1040px) {
  /**********************
           Footer
  **********************/
  h5.white-text {
    font-size: 1.25rem;
  }
  /**********************
  Services Mobile Styles
  **********************/
  .servicesWrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 480px;
    padding: 0 10px;
  }
  .serviceImg {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  img.showerPic {
    padding-top: 1.250em;
  }
  .service {
    height: inherit;
  }
  p.serviceItem {
    padding-left: 10px;
    padding-right: 10px;
  }
  /**********************
   About Mobile Styles
  **********************/
  .text {
    width: 100%;
    height: inherit;
  }
  #about-view h1 {
    font-size: 2em;
  }
  #about-view p {
    font-size: 1.5em;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 570px) {
/**********************
 Contact Mobile Styles
**********************/
h1.contactStatement {
  font-size: 1.5em;
  padding-left: 10px;
}
h3.contactTitle {
  font-size: 1.5em;
}
h4.contactItem {
  font-size: 1em;
}
}
