<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Macy's Glass</title>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71819712-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center grey-text text-lighten-4">Everything your drone program needs. In one place.</h1>
        <div class="row center">
          <br>
          <br>
            <h4 class="h4text">From training to policy creation to full support of your fleet, we have you covered. </h4>
            <a  href="tel:1-918-899-2355" id="ctaBtn" class="waves-effect waves-light btn">Let's Go Flying</a>
        </div>
      </div>
    </div>
    <div parallax>
      <img src="photos/airframesDark.png" alt="">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">fingerprint</i></h2>
            <h5>Comprehensive programming. Just for you.</h5>

            <p class="light center-align black-text">A drone program should be tailored to your specific needs, and we’ll help you find the perfect mix of curriculum, equipment, and strategy to boost your productivity.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">beach_access</i></h2>
                <h5>Administration. <br> Made easy.</h5>

                <p class="light center-align black-text">We take care of the licensing, policy writing, and support your program needs so you can keep focusing on what you do best.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons">verified_user</i></h2>
                <h5>Professional. <br> For professionals.</h5>

                <p class="light center-align black-text">We understand how imperative it is to drive efficiency and safety in your operation, and we look forward to showing you how drones can help.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div parallax><img src="photos/partner.png" alt=""></div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 center">
              <h2><i class="material-icons">school</i></h2>
              <h4 class="h4text">Programs to fit your needs.</h4>
              <p class="center light">While we specialize in law enforcement, construction, and oil and gas industry applications, we would love to talk to you about how drones can make your life easier. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div parallax><img src="photos/welcome.png" alt="Unsplashed background img 3">
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
              <h5 class="white-text">We Look Forward to Hearing From You</h5>
              <div class="contact">
              <a href="tel:1-918-899-2355"><span class="contactIcon"><i class="medium material-icons">call</i></span></a>
              <a href="mailto:scissortaildrone@gmail.com" target="_blank"><span class="contactIcon"><i class="medium material-icons">email</i></span></a>
              <!-- <a href="https://goo.gl/maps/HPct4nb3Rt52" target="_blank"><span class="contactIcon"><i class="medium material-icons">business</i></span></a> -->
          </div>
          <div class="footer-copyright">
            <div class="materializeLogo">
              Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
          </div>
        </div>
      </footer>

</body>

</html>
